Hard coded response code of 200

I'm not really having an issue per say with this provider, but I would like to inquire into why the response codes on this provider are hard coded to 200.

if resp.StatusCode != 200

Why not the range of 200? At a min

200 | OK | [RFC7231, Section 6.3.1]
201 | Created | [RFC7231, Section 6.3.2]
202 | Accepted | [RFC7231, Section 6.3.3]

Thanks

In fact, the semantics of the response's HTTP status code (which codes are considered "good" or "bad") should actually be none of this `http` data resource's concern at all.

As a user, you make a HTTP request, then you receive a HTTP response. What's contained in that response (e.g. status code) should be the user's concern.

I dropped a comment in https://github.com/hashicorp/terraform-provider-http/pull/114#issuecomment-1133744243, WDYT?

